body{
    font: normal 16px/1.5 "Noto Sans KR","Nanum Gothic","Rufina", sans-serif;
}
#first-section{
    background: url("../images/img-header.png") no-repeat 0 0 / cover;
}
a, a:link{
    text-decoration: none;
    color: white;
}

header{
    padding-top: 50px;
}
nav > ul > li > a{
    font-family: 'Rufina', serif;
    font-weight: bold;
}

@media screen and (min-width:1200px){
    .container{
       max-width: 1366px !important;
       /* height: 100vh; */
    }
}

#header-slogan p,h2{
    font-family: 'Nova Round', cursive;
    color: white;
    text-align: center;
    text-shadow: 3px 3px 4px black;
}
#header-slogan p{
    font-size: 35px;
}
#header-slogan h2{
    font-size: 50px;
}
#list-dot > ul{
    position: fixed;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
}

#list-dot > ul > li > a{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 20px;
}
.section:nth-child(2){
    background-color: #eeeeee;
}
.title{
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
    color: #00498C;

    font-weight: bold;
    
    font-family: 'Rufina', serif;
    border-bottom: 2px solid #00498C;
    margin-bottom: 50px;
}
.roomswrap{
    display: flex;
}
#roomsbox1{
    display: flex;
    justify-content: space-around;
}
#roomsbox1 > div{
    width: 525px;
    height: 600px;
    box-shadow: 4px 10px 5px rgba(0, 0, 0, 0.6);
}
#roomsbox1 div:first-child > div > img{
    margin-top: 1px;
}
#roomsbox1 img{
    margin-left: -1px;
}
#roomsbox1 > div > div:first-child{
    height: 360px;
}
#roomsbox1 > div > div:nth-child(2){
    height: 240px;
    background-color: #00498C;
}
#roomsbox1 > div > div:nth-child(2) > p{
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 18px;
}
#roomslist-dot > ul{
    margin-top: 60px;
    display: flex;
    column-gap: 20px;
    justify-content: center;
}
#roomslist-dot > ul > li > a{
    display: inline-block;
    width: 40px;
    height: 8px;
    border: 1px solid #9c9c9c;
    margin-bottom: 20px;    
}
#roomslist-dot > ul > li:nth-child(3) > a{
    background-color: #00498C;
    border: 0;
}
#noticebox1{
    display: flex;
    justify-content: space-around;
}
#noticebox1 > div{
    width: 340px;
    height: 450px;
    border: 1px solid black;
    box-shadow: 4px 10px 5px rgba(0, 0, 0, 0.6);
    position: relative;
}
#noticebox1 > div > div:first-child{
    height: 270px;
}
#noticebox1 > div > div:nth-child(2){
    height: 180px;
    background-color: #ff9999;
}
#noticebox1 > div > div:nth-child(2) > p{
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 18px;
}
.date{
    position: absolute;
    right: 0;
}


/* =============== 효성 담당 ================ */
.row-wrap {
    background: dodgerblue;
    padding: 15px 0;
    color: white;
}
.breadcrumb, .article-wrap {
    max-width: 1366px;
    margin: 0 auto;
}

.article-wrap h2, .article-wrap h3 {
    text-align: center;
}
.d-none {
    display: none
}

.room {
    background: #C4C4C4;
    width: 1366px;
    height: 587px;
    margin: 0 auto;
    overflow: hidden;
}
.content {
    display: flex;
    width: 100%;
    height: 100%;
}
.imgs {
    flex: 1;
}
.imgs .big img{
    object-fit: cover;
    width: 100%;
}
.imgs .small {
    display: flex;
    column-gap: 10px;
    margin: 30px 0 0 0;
}
.small img {
    max-width: 100%;
}
.info {
    text-align: right;
    flex: 1
}