body{
    font: normal 16px/1.5 "Noto Sans KR","Nanum Gothic","Rufina", sans-serif;
    background: url("../images/img-header.png") no-repeat 0 0 / cover;
}
a, a:link{
    text-decoration: none;
    color: white;
}

header{
    margin-top: 30px;
}
nav > ul > li > a{
    font-family: 'Rufina', serif;
    font-weight: bold;
}

@media screen and (min-width:1200px){
    .container{
       max-width: 1366px !important;
    }
}
#header-slogan{
    margin-top: 400px;
}
#header-slogan p,h2{
    font-family: 'Nova Round', cursive;
    color: white;
    text-align: center;
    text-shadow: 3px 3px 4px black;
}
#header-slogan p{
    font-size: 35px;
}
#header-slogan h2{
    font-size: 50px;
}
#listdot > ul > li > a{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}